<header>
	<div class="container flex">
		<div class="flex">
			<div class="logo">
				<h1><a href="index.html"><span>Read</span>Time</a></h1>
			</div>
			<nav>
				<ul class="flex flex-center">
					<li><%= link_to '首页',admin_dashboards_path %></li>
					<li><%= link_to '简介',admin_abouts_path %></li>
				</ul>
			</nav>
			<div class="search">
				<form action="#" class="flex">
					<input type="text" placeholder="请输入你感兴趣的内容...">
					<input type="submit" value="GO">
				</form>
			</div>
		</div>
		<div class="session-box flex flex-center">
			<%= link_to '信件箱', admin_messages_path,class: "button buttonStyle1 message" %>
			<%= link_to '退出', admin_logout_path ,class: "button buttonStyle2",method: :delete %>
		</div>
	</div>
</header>