<div class="tags-box flex flex-center">
	<div>
		<form action="#">
			<h2>Create New Tags</h2>
			<div>
				<input type="text" placeholder="Tag Name...">
			</div>
			<div>
				<textarea placeholder="Tag's clear introduce..."></textarea>
			</div>
			<div>
				<input type="submit" value="标签创建" class="buttonStyle1">
			</div>
		</form>
	</div>
	<p class="close"><span class="fa fa-close fa-fw"></span></p>
</div>