<div class="tags-box flex flex-center">
	<div>
		<%= form_for [:admin, @tag] do |f| %>
			<h2>Create New Tags</h2>
			<div>
				<%= f.text_field :name, placeholder: "eg: Ruby..." %>
			</div>
			<div>
				<%= f.submit value: '标签创建', class: 'buttonStyle1'  %>
			</div>
		<% end %>
	</div>
	<p class="close"><span class="fa fa-close fa-fw"></span></p>
</div>