<div class="message-box flex flex-center">
	<div>
		<h2>欢迎来信</h2>
		<form action="#">
			<div>
				<input type="text" placeholder="Your name...">
			</div>
			<div>
				<input type="eamil" placeholder="Your email...">
			</div>
			<div>
				<input type="text" placeholder="Message topic, eg: 问题 or 其他...">
			</div>
			<div>
				<textarea></textarea>
			</div>
			<div>
				<input type="submit" value="信件送抵" class="buttonStyle1">
			</div>
		</form>
	</div>
	<p class="close"><span class="fa fa-close fa-fw"></span></p>
</div>