<div class="right-other">
		<div class="user flex flex-center">
			<div class="img">
				<%= image_tag('pic.jpeg') %>
			</div>
			<p><a href="#"><%= current_admin.name %> <span class="fa fa-edit fa-fw"></span></a></p>
			<div class="user-data">
				<ul class="flex">
					<li>
						<a href="#"><span class="fa fa-calendar-minus-o fa-fw"></span><span class="weekDate"></span></a>
						<p>国历日期: <span class="clearDate"></span></p>
					</li>
				</ul>
			</div>
		</div>
		<div class="recommend">
			<h3>The Most Active Users</h3>
			<ul class="flex">
				<li><a href="#">Jetty</a></li>
				<li><a href="#">James</a></li>
				<li><a href="#">Double</a></li>
				<li><a href="#">Ruby</a></li>
				<li><a href="#">Jack</a></li>
				<li><a href="#">Luna</a></li>
				<li><a href="#">Jimmy</a></li>
				<li><a href="#">Kiki</a></li>
				<li><a href="#">Cici</a></li>
				<li><a href="#">Angel</a></li>
				<li><a href="#">Dili</a></li>
				<li><a href="#">Maray</a></li>
				<li><a href="#">Justibity</a></li>
			</ul>
		</div>
		<div class="footer">
			<p>记住自己是谁,在想什么,在做什么</p>
			<p>不要让今天的忧愁掩盖你明天的快乐</p>
			<p>勇敢走下去,世界在等待着微笑的你</p>
		</div>
	</div>