<% provide(:title,'Sign') %>
<form action="#">
	<div>
		<input type="text" placeholder="请输入你的账号...">
	</div>
	<div>
		<input type="password" placeholder="请输入你的密码...">
	</div>
	<div>
		<input type="checkbox">
		<span>记住登陆的账号,方便下次登陆</span>	
	</div>
	<div>
		<input type="submit" class="buttonStyle1" value="快速登陆">
	</div>
</form>