<div class="container">
	<div class="aboutTop">
		<div class="aboutBg">
		</div>
		<div class="authorImg">
			<%= image_tag('pic.jpeg') %>
		</div>
		<div class="authorData uData">
			<h2><strong>Jetty</strong><span>Created at: 20 04,2018<span class="fa fa-gg fa-fw"></span></span></h2>
			<p>Email: yao1508728331@gmail.com</p>
		</div>
	</div>
	<div class="aboutContent">
		<div class="authorException">
			<div>
				<h3>参与过的评论<span>(comments had written)</span></h3>
			</div>
		</div>
		<div class="post-list">
			<ul>
				<li>
					<div class="post-data">
						<div class="pd">
							<h3 class="flex pl">
								<a href="#"><strong>For:</strong> one post's name</a>
							</h3>
						</div>
						<div class="img flex">
							<span>Create at: Thursday 19 04,2018</span>
						</div>
						<div class="cc">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis natus voluptatum impedit illum repellat sed, officia nisi accusantium doloremque! Ullam temporibus fugit perferendis soluta et beatae quaerat obcaecati, impedit perspiciatis!</p>
						</div>
					</div>
				</li>
				<li>
					<div class="post-data">
						<div class="pd">
							<h3 class="flex pl">
								<a href="#"><strong>For:</strong> one post's name</a>
							</h3>
						</div>
						<div class="img flex">
							<span>Create at: Thursday 19 04,2018</span>
						</div>
						<div class="cc">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis natus voluptatum impedit illum repellat sed, officia nisi accusantium doloremque! Ullam temporibus fugit perferendis soluta et beatae quaerat obcaecati, impedit perspiciatis!</p>
						</div>
					</div>
				</li>
				<li>
					<div class="post-data">
						<div class="pd">
							<h3 class="flex pl">
								<a href="#"><strong>For:</strong> one post's name</a>
							</h3>
						</div>
						<div class="img flex">
							<span>Create at: Thursday 19 04,2018</span>
						</div>
						<div class="cc">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis natus voluptatum impedit illum repellat sed, officia nisi accusantium doloremque! Ullam temporibus fugit perferendis soluta et beatae quaerat obcaecati, impedit perspiciatis!</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>