
$basicBgColor:#fff;
$basicColor:#666;
$topicColor:#0084ff;
$smallImg:30px;
$middleImg: 55px;
$shadowColor:rgba(26,26,26,.15);
$minWidth:585px;
$maxWidth:1024px;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html::-webkit-scrollbar {
	  width: 15px;
	  background-color: #fff;
}
html::-webkit-scrollbar-thumb {
	  background-color: #ccc;
	  border-radius: 7.5px;
	  border: 4px solid #fff;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:  $basicColor;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $basicColor;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $basicColor;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:  $basicColor;
}
body{
	min-width: $minWidth;
	color: $basicColor;
	font-size: 16px;
	font-weight: 500;
	font-family: PingFang,Microsoft Yahei,Arial;
	background-color: #eee;
}
a{
	cursor: pointer;
	text-decoration: none;
	color: $basicColor;
}
a:hover{
	color: $topicColor;
}
ul{
	list-style: none;
}
input,button,textarea{
	outline: none;
	background-color: transparent;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
input[type="submit"]{
	cursor: pointer;
}
textarea{
	resize: none;
}
img{
	max-width: 100%;
	height: auto;
}

.container{
	max-width: $maxWidth;
	min-width: $minWidth;
	margin: 0 auto;
	padding: 0 15px;
}
.flex{
	display: flex;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.button{
	display: inline-block;
	padding: 5px 15px;
	border-radius: 3px;
}
.buttonStyle1{
	background-color: $topicColor;
	border: 2px solid $topicColor;
	color: $basicBgColor;
}
.buttonStyle1:hover{
	background-color: $basicBgColor;
	color: $topicColor;
}
.buttonStyle2{
	background-color: $basicBgColor;
	border: 2px solid $topicColor;
	color: $topicColor;
}
.buttonStyle2:hover{
	background-color: $topicColor;
	color: $basicBgColor;
}
.buttonStyle3{
	background-color: #eee;
	border: 2px solid #eee;
	color: #777;
}
.buttonStyle3:hover{
	color: $topicColor;
	border: 2px solid $topicColor;
}
.no-publish{
	font-size: .9rem;
}
.alert{
	position: fixed;
	width: 100%;
	padding: 0 30px;
	top: 65px;
	left: 0;
	z-index: 999;
	-webkit-animation: down .5s linear;
	        animation: down .5s linear;
}
.alert .container{
	position: relative;
	background-color: $basicBgColor;
	box-shadow: 0 1px 3px $shadowColor;
	padding: 20px 30px;
	border: 1px solid #eee;
	border-radius: 3px;
}
.alert .close{
	position: absolute;
	right: 30px;
}
.close{
	cursor: pointer;
}
.close:hover{
	color: $topicColor;
}
.color{
	color: $topicColor;
}

header{
	position: fixed;
	z-index: 99;
	width: 100%;
	background-color: $basicBgColor;
	padding: 8px 0;
	border-bottom: 3px solid $shadowColor;
}
header>div>div.flex{
	flex:2;
}
header nav{
	height: 100%;
}
header nav ul{
	width: 100%;
    height: 100%;
}
header>div>div.session-box{
	flex: none;
}
header .logo h1{
	font-size: 1.8rem;
}
header .logo h1 a span{
	color: $topicColor;
}
header nav ul{
	height:100%;
	padding: 0 30px;
}
header nav ul li a{
	display: block;
	padding: 0 10px;

}
header .search form{
	width: 300px;
	height: 100%;
	background-color: #eee;
	padding: 0 10px;
	border-radius: 2px;
}
header .search form input[type="text"]{
	width: 85%;
	border: 0;
	font-size: .9rem;
}
header .search form input[type="submit"]{
	width: 15%;
	border: 0;
	font-size: .9rem;
	color: $basicColor;
}
header .session-box{
	justify-content: flex-end;
}
header .session-box a{
	margin-left: 10px;
}

.content{
	padding: 66px 0 20px;
}
.content .left-list{
	flex:2;
	margin-right: 10px;
}
.content .left-list>div{
	margin-bottom: 10px;
}
.left-list .tags{
	padding: 25px 10px;
	box-shadow: 0 1px 3px $shadowColor;
	background-color: $basicBgColor;
	border-radius: 2px;
	position: relative;
}
.left-list .tags .down-tags{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: $basicBgColor;
	width: 100%;
	border-bottom: 3px solid $shadowColor;
}
.left-list .tags .down-tags ul{
	padding: 10px 10px 30px;
	flex-wrap: wrap;
}
.left-list .tags .down-tags ul li{
	padding: 5px 0;
}
.left-list .tags>ul{
	flex:1;
	text-transform: uppercase;
	align-items: center;
	font-size: 1.1rem;
}
.left-list .tags>ul>div{
	flex: 1;
	justify-content: flex-end;
}
.left-list .tags>ul>div .button{
	padding: 2px 10px;
}
.left-list .tags ul li a{
	display: block;
	padding: 2px 10px;
}
.left-list .tags ul li a.more{
	color: $topicColor;
}
.left-list .tags div.sort{
	justify-content: flex-end;
	align-items: center;
	font-size: .9rem;
}
.left-list .post-list>ul>li,.total-data>div>ul>li,.total-data>div>div>ul>li,.aboutContent .post-list>ul>li{
	box-shadow: 0 1px 3px $shadowColor;
	background-color: $basicBgColor;
	border-radius: 2px;
	padding: 25px 20px;
	display: block;
	margin: 8px 0;
}
.left-list .post-list .post-data .img,.total-data .post-data .img{
	text-transform: uppercase;
	margin: 10px 0 5px;
	padding-left: 20px;
}
.left-list .post-list .post-data .img img,.total-data .post-data .img img{
	width: $smallImg;
	height: $smallImg;
}
.left-list .post-list .post-data .img img.middleImg,.total-data .post-data .img img.middleImg{
	width: $middleImg;
	height: $middleImg;
}
.left-list .post-list .post-data .img span,.total-data .post-data .img span{
	display: block;
	padding: 0 8px 0 10px;
	line-height: $smallImg;
}
.left-list .post-list .post-data .img>div{
	padding: 0 15px;
}
.post-data .tag{
	align-items: center;
	text-transform: uppercase;
	border-left: 10px solid $topicColor;
	padding-left: 10px;
}
.post-data p.tag{
	font-size: 1.1rem;
	font-weight: bolder;
}
.post-data .tag>span{
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}
.post-data .tag>span>span{
	display: inline-block;
	border: 2px solid $topicColor;
	padding: 0 3px;
	border-radius: 2px;
	margin-left: 5px;
	font-size: 1rem;
}
.post-data .tag span{
	color: $topicColor;
	cursor: pointer;
}
.post-data .tag span a span{
	color: $topicColor;
}
.post-data .tag span a.button{
	display: flex;
	padding: 2px 5px;
}
.post-data .tag span a span:hover{
	color: #aaa;
}
.post-data .pd{
	width: 100%;
	padding-left: 20px;
}
.post-data .pd h3{
	padding: 5px 0;
	border:0;
}
.post-data .pd h3 strong{
	color: $topicColor;
}
.post-data .pd p{
	background-color: #f8f8f8;
	padding: 15px;
	width: 100%;
}
.post-data .post-control{
	margin: 15px 0;
	padding-left: 20px;
}
.post-data .post-control ul>li a{
	display: block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-right: 3px;
}
.post-data .post-control ul>li.vote a.active{
	color: $basicBgColor;
	border-color: $topicColor;
	background-color: $topicColor;
}
.post-data .comment{
	display: none;
	margin: 0 20px;
	padding: 5px 10px;
	border: 1px solid $shadowColor;
	border-radius: 3px;
}
.post-data .comment h3{
	padding: 10px 0;
	border-bottom: 1px solid $shadowColor;
}
.post-data .comment h3 p{
	flex:1;
	padding-left: 18px;
	letter-spacing: 1px;
}
.post-data .comment h3 p.close{
	text-align: right;
}
.post-data .comment ul li{
	padding: 10px 0;
	border-bottom: 1px solid $shadowColor;
}
.post-data .comment ul li p{
	padding: 5px 20px;
}
.post-data .comment .comment-send{
	padding: 10px 5px;
}
.post-data .comment .comment-send input{
	padding: 5px 10px;
	border-radius: 2px;
	font-size: 1rem;
}
.post-data .comment .comment-send input[type="text"]{
	width: 84%;
	border: 1px solid #ddd;
	color: $basicColor;
}
.post-data .comment .comment-send input[type="submit"]{
	width: 15%;
	margin-left: 1%;
}
.post-data .comment .comment-send a{
	display: block;
	width: 15%;
	margin-left: 1%;
	text-align: center;
	border-radius: 2px;
}
.content .right-other{
	flex:1;
	max-width: 280px;
}
.content .right-other .user{
	background-color: $basicBgColor;
	padding: 25px 10px;
	flex-direction: column;
	border-radius: 2px;
	box-shadow: 0 1px 3px $shadowColor;
}
.content .right-other .user .img{
	width: 110px;
	height: 110px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid $shadowColor;
}
.content .right-other .user>p{
	padding: 5px 0;
}
.content .right-other .user .user-data{
	margin: 8px 0;
}
.content .right-other .user .user-data>ul>li{
	margin:0 10px;
	text-align: center;
}
.content .right-other .user .user-data>ul>li a{
	font-size: 1.7rem;
	color: $topicColor;
}
.content .right-other .recommend{
	margin: 8px 0;
	padding: 20px 10px;
	border-radius: 2px;
	background-color: $basicBgColor;
	box-shadow: 0 1px 3px $shadowColor;
}
.content .right-other .recommend h3{
	text-align: center;
	padding: 10px 0;
}
.content .right-other .recommend ul{
	flex-wrap: wrap;
	justify-content: center;
}
.content .right-other .recommend ul li{
	margin: 5px;
}
.content .right-other .recommend ul li>a{
	display: block;
	padding: 3px 10px;
	color: $topicColor;
	border-radius: 8px;
	font-size: .9rem;
	font-weight: bolder;
}
.content .right-other .recommend ul li a:hover{
	color: #aaa;
}
.content .right-other .footer{
	padding: 5px 2px;
	font-size: .9rem;
	text-align: center;
}
.content .right-other .footer p{
	padding: 3px 0;
}
.message-box,.tags-box,.userChange-box,.introduce-box,.posts-box{
	display: none;
	position: fixed;
	width: 100%;
	min-width: $minWidth;
	height: 100vh;
	background-color: rgba(0,0,0,.3);
	top: 0;
	left: 0;
	z-index: 9999;
}
.message-box p.close,.tags-box p.close,.userChange-box p.close,.introduce-box p.close,.posts-box p.close{
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 2rem;
	color: #fff;
}
.message-box>div,.tags-box>div,.userChange-box>div,.introduce-box>div,.posts-box>div{
	width: 600px;
	background-color: $basicBgColor;
	padding: 40px;
	border-radius: 3px;
	box-shadow: 0 1px 5px $shadowColor;
}
.message-box>div h2,.tags-box>div h2,.userChange-box div h2,.introduce-box div h2,.posts-box div h2{
	text-align: center;
}
.message-box>div form>div,.tags-box>div form>div,.userChange-box>div form>div,.introduce-box>div form>div,.posts-box>div form>div{
	margin: 15px 0;
}
.message-box>div form input,.message-box>div form textarea,.tags-box>div form input,.tags-box>div form textarea,.userChange-box>div form input,.userChange-box>div form textarea,.introduce-box>div form input,.introduce-box>div form textarea,.posts-box>div form input,.posts-box>div form textarea{
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.message-box>div form textarea,.tags-box>div form textarea,.userChange-box>div form textarea,.introduce-box>div form textarea,.posts-box>div form textarea{
	height: 200px;
}

.content .aboutTop{
	border-radius: 3px;
	box-shadow: 0 1px 3px $shadowColor;
	position: relative;
	background-color: $basicBgColor;
	height: 205px;
	overflow: hidden;
	margin-bottom: 7px;
}
.content .aboutTop .aboutBg{
	width: 100%;
	height: 110px;
	background-image: image_url("aboutBg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.content .aboutTop .authorImg{
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 3px;
	position: absolute;
	left: 50px;
	top: 45px;
	border: 5px solid #f0f0f0;
}
.content .aboutTop .authorData{
	padding: 0px 40px 5px 215px;
	font-size: .9rem;
}
.content .aboutTop .authorData h2{
	padding: 8px 0;
	text-transform: uppercase;
}
.content .aboutTop .authorData h2>span{
	color: #999;
	font-size: 1rem;
	padding-left: 10px;
}
.content .aboutTop .authorData h2>span span{
	color: $topicColor;
	padding-left: 5px;
	font-weight: 800;
}
.content .aboutTop .authorData p{
	color: #999;
}
.content .aboutContent>div{
	background-color: $basicBgColor;
	box-shadow: 0 1px 3px $shadowColor;
	border-radius: 3px;
	padding: 20px 0;
	margin-bottom: 7px;
}
.content .aboutContent>div>div{
	padding: 10px 55px;
}
.content .aboutContent>div>div>h3{
	border-left: 20px solid $topicColor;
	padding-left: 15px;
}
.content .aboutContent>div>div h3 span{
	text-transform: uppercase;
	padding-left: 5px;
	font-size: 1rem;
	color: #777;
}
.content .aboutContent>div>div>p{
	padding: 10px 35px;
	color: #888;
	text-transform: uppercase;
}
.content .aboutContent>div>div.contact p{
	padding: 10px 35px 2px;
}
.content .aboutContent>div>div>p span{
	padding-left: 10px;
}

.session{
	width: 100%;
	height: 100vh;
	min-width: $minWidth;
}
.session>div{
	flex:1;
	height: 100%;
}
.session>div.leftWord{
	background-color: $topicColor;
	flex-direction: column;
}
.session>div.leftWord h1 a,.leftWord h2{
	color: #fff;
}
.session>div.leftWord h1{
	font-size: 3rem;
}
.session>div.rightSession>div{
	flex: 1;
	height: 100%;
	flex-direction: column;
	padding: 70px;
	background-color: $basicBgColor;
	box-shadow: 0 1px 3px $shadowColor;
	border-radius: 5px;
}
.rightSession>div form{
	width: 500px;
}
.rightSession>div h1{
	text-align: center;
	padding: 20px 0 30px;
	font-size: 3.5rem;
}
.rightSession>div h1 span{
	color: $topicColor;
}
.rightSession>div div{
	padding: 10px 0;
}
.rightSession>div div p{
	padding: 10px 0;
	text-align: center;
}
.rightSession>div div p a{
	color: $topicColor;
}
.rightSession>div div input[type="text"],.rightSession>div div input[type="password"],.rightSession>div div input[type="submit"],.rightSession>div div input[type="email"]{
	width: 100%;
	font-size: 1.1rem;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.rightSession>div div input[type="checkbox"]{
	-webkit-appearance:checkbox;
	   -moz-appearance:checkbox;
	        appearance:checkbox;
}

.total-data>div{
	box-shadow: 0 1px 3px $shadowColor;
	background-color: $basicBgColor;
	border-radius: 2px;
	padding: 25px 20px;
	margin: 8px 0;
}
.total-data>div>h3{
	border-left: 10px solid $topicColor;
	padding-left: 15px;
	font-size: 1rem;
	text-transform: uppercase;
}
.total-data>div>div{
	margin-top: 20px;
}
.total-data>div div.chart{
	flex: 1;
	height: 300px;
	background-color: #eee;
}
.total-data>div div.chart>div{
	margin:0 auto !important;
	max-width: 664px;
}
.total-data h3,.post-list h3{
	align-items: center;
}
.total-data h3>span,.post-list h3>span{
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
.total-data h3 a.button,.post-list h3 a.button{
	padding: 1px 5px;
	margin: 0 3px;
}
.total-data .data-box{
	padding:20px;
	border: 1px solid #eee;
	border-radius: 2px;
	flex-wrap: wrap
}
.total-data .data-box button{
	margin: 5px;
	cursor: pointer;
	font-size: .9rem;
	position: relative;
}
.total-data .data-box button a{
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(238,238,238,1);
	color: #777;
}
.total-data .data-box button:hover a{
	display: flex;
}
.post-data .img  span strong{
	color: $topicColor;
}
.total-data>div>ul>li,.total-data>div>div>ul>li{
	box-shadow: none;
	padding: 15px 20px;
	border: 1px solid #eee;
}
.cc{
	padding: 20px;
	margin: 20px;
	border: 1px solid #eee;
	background-color: #f8f8f8;
}
.recommend ul>li>p{
	text-align: center;
}
.left-list h3.pl:before{
	content: '';
	display: inline-block;
	width:10px;
	height: 10px;
	background-color: $topicColor;
	margin-right: 5px;
}
.tags ul>li>h3{
	padding: 0 30px;
}
.tags ul>li>h3 span.pls{
	padding-left: 5px;
}
.uData>p{
	font-size: 1.1rem;
	text-transform: uppercase;
	align-items: center;
}
.uData>p span{
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
.uData>p span a{
	padding: 1px 5px;
}
.content .aboutContent>div.post-list{
	background-color: transparent;
	padding: 0;
}
.aboutContent .post-list>ul>li{
	padding: 20px 40px;
}
.aboutContent .post-list .img{
	padding: 0 20px;
}
.aboutContent .post-list .cc{
	padding: 8px 21px;
}
.aboutContent .post-list .pl>a{
	color: $topicColor;
	text-transform: uppercase;
	font-size: 1.4rem;
}

.rightSession>div div.error-box{
	position: fixed;
	right: 0;
	top: 10%;
	padding:30px 50px;
	border-radius: 3px;
	border: 1px solid #eee;
	background-color: $basicBgColor;
	box-shadow: 0 1px 3px $shadowColor;
	-webkit-animation: out .5s linear;
	        animation: out .5s linear;
}
.rightSession>div div.error-box .close{
	position: absolute;
	right: 20px;
	top: 36px;
}
.rightSession>div div.error-box h3{
	color: $topicColor;
	padding: 5px 0;
}
.rightSession>div div.field_with_errors{
	padding: 0;
}
.posts-box>div{
	width: 800px;
}
.posts-box form>div{
	padding: 0px 20px;
}
.posts-box input[type="text"],.posts-box textarea,.posts-box select{
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	font-size: 1rem;
	border-radius: 2px;
}
.posts-box input[type="checkbox"]{
	width: auto;
	-webkit-appearance: checkbox;
	   -moz-appearance: checkbox;
	        appearance: checkbox;
}
.posts-box>div form textarea{
	height: 450px;
}
.posts-box input[type="submit"]{
	width: 100%;
	font-size: 1rem;
}
.posts-box select{
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-image: image_url('down.png');
	background-repeat: no-repeat;
	background-position: 98% 50%;
	cursor: pointer;
	outline: none;
	color: #777;
}
.topControl{
	display: none;
	position: fixed;
	right: 5px;
	bottom: 100px;
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,.3);
}
.topControl span{
	display: block;
	width: 100%;
	text-align: center;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
	font-size: 1.1rem;
}

/* animate */
@-webkit-keyframes out{
	0%{
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0);
		        transform: translateX(0);
		opacity: 1;
	}
}
@keyframes out{
	0%{
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
		opacity: 0;
	}
	100%{
		-webkit-transform: translateX(0);
		        transform: translateX(0);
		opacity: 1;
	}
}
@-webkit-keyframes down{
	0%{
		top: -130px;
		opacity: 0;
	}
	100%{
		top: 65px;
		opacity: 1;
	}
}
@keyframes down{
	0%{
		top: -130px;
		opacity: 0;
	}
	100%{
		top: 65px;
		opacity: 1;
	}
}


@media screen and (max-width: 1280px){
	.session{
		position: relative;
	}
	.session>div.rightSession{
		position: absolute;
		width: 100%;
	}
	.session>div.rightSession>div{
		height: auto;
	}
}

@media screen and (max-width: 1024px){
	.content .left-list{
		margin-right: 0;
	}
	.content .right-other{
		display: none;
	}
}
@media screen and (max-width: 835px){
	body{
		position: relative;
	}
	header{
		position: absolute;
	}
	.search{
		display:none;
	}
}